# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries used by Data Scientists 
* Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* TensorFlow
* scikit-Learn
* Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Scala|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Mahmoud Barakat